################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
/test1.sln
/TestB/bin/
/TestB/obj/
/TestC/bin/
/TestC/obj/
/test1/bin/
/test1/obj/
/RunTest/bin/
/RunTest/obj/